---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { 
  title = "Alex J. Montalvo", 
  description = "Alex Montalvo - Desarrollador Web, Jhovel,Alex Montalvo Reyes, alekzzmr, alekzzmr.dev, alekzzmr.com, portafolio, developer, web developer, frontend developer, backend developer, fullstack developer" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Alex J. Montalvo" />

    <link rel="stylesheet" href="/src/styles/global.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>{title}</title>
  </head>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>